# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:

  install:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.1.0
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}

      - run: npm install

      - save_cache:
          key: v1-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - node_modules/
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/repo

  lint_and_test:
    docker:
      - image: circleci/node:12.1.0

    working_directory: ~/repo

    steps:
      - restore_cache:
          keys:
            - v1-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run: npm run lint
      - run: npm test

  deploy:
    docker:
      - image: circleci/node:12.1.0

    working_directory: ~/repo

    steps:
      - restore_cache:
          keys:
            - v1-repo-{{ .Environment.CIRCLE_SHA1 }}

      - run: npm run deploy

workflows:
  version: 2
  test:
    jobs:
      - install
      - lint_and_test:
          requires:
            - install
      - deploy:
          requires:
            - lint_and_test