
.mainMenu{
  list-style: none;
  text-align: center;


}
.mainMenu__item{
  display: inline-block;
  font-size: 18px;

  font-weight: bold;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: solid transparent 2px;
}
.mainMenu__itemLink{
  color: black;
  font-family: "Proxima Nova", sans-serif;
  text-decoration: none;
}